:global(.g_hd) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #f0f0f0;
    background-color: rgba(255, 255, 255, .95);
}

.hd_nav {
    max-height: 340px;
    overflow: auto;
    padding-left: 15px;
    padding-right: 15px;
    border-top: 1px solid #f0f0f0;
}
@media (min-width: 992px) {
    .hd_logo {
        float: left;
    }
    .hd_nav {
        float: right;
    }
}

.logo {
    float: left;
    padding: 23.5px 15px;
    font-size: 22px;
    line-height: 33px;
    height: 80px;
}
.logo > img {
    display: block;
    max-height: 28px;
}
@media (min-width: 992px) {
    .logo {
        padding-left: 0;
    }
}

@media (min-width: 992px) {
    .nav {
        float: right;
    }
}
.nav li {
    display: block;
}
@media (min-width: 992px) {
    .nav li {
        float: left;
    }
}
.nav a {
    display: block;
    padding: 10px 15px;
    line-height: 23px;
    color: #999;
}
@media (min-width: 992px) {
    .nav a {
        padding: 28.5px 15px;
    }
}
.nav a:hover {
    color: #333;
}

.search {
    padding: 10px;
    color: #999;
}
@media (min-width: 992px) {
    .search {
        float: right;
        padding: 28.5px 10px;
        margin-left: 15px;
        margin-right: 15px;
        border-left: 1px solid #f0f0f0;
        border-right: 1px solid #f0f0f0;
    }
}
.search input {
    width: 100px;
    padding: 0 5px;
    border: none;
    background: none;
}