html {
    line-height: 1;
}

body {
    font-family: 'Open Sans',
    'Helvetica Neue',
    Arial,
    'Hiragino Sans GB',
    'Microsoft YaHei',
    'WenQuanYi Micro Hei',
    sans-serif;
    font-size: 14px;
    color: #686868;
}

* {
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}

a {
    text-decoration: none;
}

input {
    outline: none;
}
input::-webkit-input-placeholder,
input:-ms-input-placeholder,
input::-moz-placeholder {
    color: #ddd;
}


:global(.fix:before),
:global(.fix:after) {
    content: "";
    display: table;
}
:global(.fix:after) {
    clear: both;
}

:global(.g_ct) {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
@media (min-width: 768px) {
    :global(.g_ct) {
        width: 750px;
    }
}
@media (min-width: 992px) {
    :global(.g_ct) {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    :global(.g_ct) {
        width: 1030px;
    }
}
